@import 'vars';

:root {
  --header-height: #{$header_height};
}

html, body, #__nuxt {
  @apply h-full;
}

body {
  @apply m-0;
}

.spin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
