@socle:registry=https://git.mobile-dev.fr/api/v4/projects/48/packages/npm/
@kraken:registry=https://git.mobile-dev.fr/api/v4/projects/48/packages/npm/
//git.mobile-dev.fr/api/v4/projects/48/packages/npm/:_authToken=glpat-ksmzpmvzqHAZbT2AgPTW